- if @bookmarks.any?
  != form_for :bookmark, :url => mass_destroy_bookmarks_path, :method => :delete do |f|
    %table.bookmarks
      %thead
        %th= f.submit "Remove Checked"
        %th Address
        %th Video Title
        %th Thumbnail
        %th Actions
      %tbody
        != render :partial => "bookmark", :collection => @bookmarks
- else
  [Your bookmarks list is currently empty]
